<div class='p-5'>
  <form method='post'>
    <div class='form-group mb-3'>
      <label for='exampleInputEmail1'>What do you want?</label>
      <input
        name='q'
        type='text'
        class='form-control'
        id='exampleInputEmail1'
        aria-describedby='emailHelp'
        placeholder='Nhập từ khóa'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Search</button>
  </form>
</div>